<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="FRAMEWORK-basic.css">
        <link rel="stylesheet" href="FRAMEWORK-styling.css">
        <link rel="stylesheet" href="FRAMEWORK-font-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <title>
           my deal 
        </title>
        <style>
            .sub-menu-heading
            {
                overflow:hidden;
            }
            .sub-menu-heading:hover
            {
                color:#EF3F23;
                font-size:5.5vw;
                font-weight:bold;
            }
            .sub-menu-heading:hover ~ .menu-heading
            {
                color:#EF3F23;
                font-size:5.5vw;
                font-weight:bold;
            }
        </style>
    </head>
    <body>
        <div class="box-container">
            <div class="box-xxxl position_relative border_right_red_s1_s5 border_left_red_s1_s5 muli">
                <div class="close-button background-color_white box_padding_l font-size_gtxxxxl_3">
                    <i class="fas fa-window-close"></i>
                </div>
                <div class="box-xxxl">
                    <!--profile-->
                    <div class="box-xxxl border_bottom_s2_gray box_margin_xxxl box_margin_t_b_xl box_padding_xxl box_padding_t_b_xxl">
                        <div class="box_30-70 position_l circle">
                            <div class="box-xxxl box_padding_xv">
                                <img src="SudhirSir.jpg" class="circle" width="100%">
                            </div>
                        </div>
                        <div class="box_70-30 position_l">
                            <div class="box-xxxl bold_light box_padding_t_b_xxxl box_padding_r_l_xxl font-size_gtxxxxl_3">
                                Sudhir Naidu
                            </div>
                            <div class="box-xxxl font-color_gray box_padding_t_b_xl box_padding_r_l_xxl font-size_gtxxxxl_2">
                                Special Customer
                            </div>
                        </div>
                    </div>
                </div>
                <!--menu-container-->
                <div class="box-xxxl">
                    <!--single menu-->
                    <div class=" box-xxxl talign_c box_margin_r_l_xv3  no_padding_bottom box_margin_t_b_xl box_padding_t_b_xxxl">
                        <!--heading-->
                        <div class="menu-heading box-xxxl bold_light font-size_xxxxl box_padding_l border_bottom_gray">
                            Favorites  
                        </div>
                        <!--sub-menu-container-->
                        <div class="box-xxxl box_padding_l">
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Profile
                            </div>
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Wallet
                            </div>
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Refer and Earn
                            </div>
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Payment Request
                            </div>
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                History
                            </div>
                        </div>
                    </div>
                    <!--single menu-->
                    <div class=" box-xxxl talign_c box_margin_r_l_xv3 no_padding_bottom box_margin_t_b_xl box_padding_t_b_xxxl">
                        <!--heading-->
                        <div class="menu-heading box-xxxl bold_light font-size_xxxxl box_padding_l border_bottom_gray">
                            Apps  
                        </div>
                        <!--sub-menu-container-->
                        <div class="box-xxxl box_padding_l">
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Add your Buisness
                            </div>
                        </div>
                    </div>
                    <!--single menu-->
                    <div class=" box-xxxl talign_c box_margin_r_l_xv3  no_padding_bottom box_margin_t_b_xl box_padding_t_b_xxxl">
                        <!--heading-->
                        <div class="menu-heading box-xxxl bold_light font-size_xxxxl box_padding_l border_bottom_gray">
                            Setting 
                        </div>
                        <!--sub-menu-container-->
                        <div class="box-xxxl box_padding_l">
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Settings
                            </div>
                            <!--sub-menu-->
                            <div class="sub-menu-heading box-xxxl font-size_xxxxl box_padding_l">
                                Logout
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>