<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="FRAMEWORK-basic.css">
        <link rel="stylesheet" href="FRAMEWORK-styling.css">
        <link rel="stylesheet" href="FRAMEWORK-font-styling.css">
        <link rel="stylesheet" href="profile(basic).css">
        <link rel="stylesheet" href="tab(basic).css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.17/angular.js" data-server="1.3.17"></script>
        <script src="../../public/js/cube_fabric.js"></script>   	
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="../../public/css/widgets.css">
    	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <title>
           my deal 
        </title>
        <style>
            .tab-heading:hover
            {
                border-bottom:3px solid #ED2227;
            }
        </style>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <div class="box-container muli">
            <!--top-menu-->
            <div class="box-xxxl talign_c font-size_xxxxl box_padding_t_b_xxxl box_padding_xxl bold_light">
                <div class="box_3 position_l">
                    <div class="box_30-70 positon_l">
                        <div class="menu-icon">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>
                </div>
                <div class="box_3 position_l talign_c">
                    Details
                </div>
                <div class="box_3 position_l">
                    
                </div>
            </div>
            <!--for contacts and all such stuff-->
            <div class="box-xxxl">
                <div class="box-xxxl">
                    <div class="box-xxxl font-size_ltxxxxl_2 bold_light box_padding_xl box_padding_t_b_xxxl">
                        Contacts
                    </div>
                    <div class="box-xxxl">
                        <div class="box_15-85 position_l">
                            <div class="box-xxxl talign_c font-size_gtxxxl_3 font-color_green">
                                <i class="fas fa-phone"></i>
                            </div>
                        </div>
                        <div class="box_85-15 position_l">
                            <!--contact-->
                            <div class="box-xxxl bold_light font-size_gtxxxl_3">
                                +91-87643435
                            </div>
                            <!--contact type-->
                            <div class="box-xxxl font-color_gray font-size_gtxxxl_1">
                                Work
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-xxxl">
                    <div class="box-xxxl font-size_ltxxxxl_2 bold_light box_padding_xl box_padding_t_b_xxxl">
                        Adresses
                    </div>
                    <div class="box-xxxl">
                        <div class="box_15-85 position_l">
                            <div class="box-xxxl talign_c font-size_gtxxxl_3 font-color_mdealred">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                        <div class="box_85-15 position_l">
                            <!--adress-->
                            <div class="box-xxxl bold_light font-size_gtxxxl_3">
                                Mahaveer City, Rajkishore Nagar, Bilaspur(C.G) 
                            </div>
                            <!--adress type-->
                            <div class="box-xxxl font-color_gray font-size_gtxxxl_1">
                                Home 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>