<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="FRAMEWORK-basic.css">
        <link rel="stylesheet" href="FRAMEWORK-styling.css">
        <link rel="stylesheet" href="FRAMEWORK-font-styling.css"> 
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <title>
           my deal 
        </title>
        <style>
            .input_blank
            {
                border-top:none;
                border-bottom:1px solid rgb(235,235,235);
                border-left:none;
                border-right:none;
                width:100%;
                padding-bottom: 0;
                padding-top: 0;
                box-sizing:border-box;
            }
        </style>
    </head>
    <body>
        <div class="box-container muli">
            <!--top-menu-->
            <div class="box-xxxl talign_c font-size_xxxxl box_padding_xl box_padding_t_b_xxxl box_padding_xxl bold_light display_block">
                <div class="box_3 position_l">
                    <div class="box_30-70 positon_l">
                        <div class="menu-icon">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>
                </div>
                <div class="box_3 position_l talign_c">
                    Payment
                </div>
                <div class="box_3 position_l">

                </div>
            </div>
            <!--bar and a circle-->
            <div class="box-xxxl box_padding_t_b_xxl talign_c">
                <div class="display_ib font-size_xv4 bold_light">
                    20
                </div>
            </div>
            <!--bill type thing-->
            <div class="box-xxxl box_margin_t_b_xxxl box_padding_xxl no_padding_top">
                <!--payment-->
                <div class="box-xxxl">
                    <!--bill 1-->
                    <div class="box-xxxl box_padding_xxxl">
                        <div class="box_xxxl">
                            <div class="box-xxxl font-size_ltxxxxl_2 talign_c bold_light">
                                <input type="text" class="input_blank font-size_ltxv_4 bold_light font-color_gray muli box_padding_r_l_xv" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="box-xxxl talign_c box_margin_t_b_xl">
                <div class="box-xxxl box_padding_r_l_xv">
                    <div class="box-xxxl round-corners_max talign_c font-color_white box_padding_xxxl background-color_Gpay font-size_ltxxxxl_1 bold_light">
                        Add Amount by <i class="fab fa-google"></i> Google Pay
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="box-xxxl talign_c box_margin_t_b_xl">
                <div class="box-xxxl box_padding_r_l_xv">
                    <div class="box-xxxl round-corners_max talign_c font-color_white box_padding_xxxl background-color_PhonePe font-size_ltxxxxl_1 bold_light rajdhani">
                        Add Amount by पे 
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="box-xxxl talign_c box_margin_t_b_xl">
                <div class="box-xxxl box_padding_r_l_xv">
                    <div class="box-xxxl round-corners_max talign_c font-color_white box_padding_xxxl background-color_mdealred font-size_ltxxxxl_1 bold_light">
                        Add Amount Online 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>