<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="FRAMEWORK-basic.css">
        <link rel="stylesheet" href="FRAMEWORK-styling.css">
        <link rel="stylesheet" href="FRAMEWORK-font-styling.css"> 
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <title>
           my deal 
        </title>
        <style>
            .input_blank
            {
                border-top:none;
                border-bottom:0.5px solid rgb(235,235,235);
                border-left:none;
                border-right:none;
                border-style:none;
                width:100%;
                padding-bottom: 0;
                padding-top: 0;
                box-sizing:border-box;
            }
        </style>
    </head>
    <body>
        <div class="box-container muli">
            <!--top-menu-->
            <div class="box-xxxl talign_c font-size_xxxxl box_padding_xl box_padding_t_b_xxxl box_padding_xxl bold_light display_block">
                <div class="box_3 position_l">
                    <div class="box_30-70 positon_l">
                        <div class="menu-icon">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>
                </div>
                <div class="box_3 position_l talign_c">
                    Payment
                </div>
                <div class="box_3 position_l">

                </div>
            </div>
            <!--bar and a circle-->
            <div class="box-xxxl box_padding_t_b_xxl talign_c">
                <div class="display_ib font-size_xv4 bold_light">
                    20
                </div>
            </div>
            <!--bill type thing-->
            <div class="box-xxxl box_margin_t_b_xxxl box_padding_xxl no_padding_top">
                <div class="box-xxxl box_padding_xxl">
                    <!--hotel name-->
                    <div class="box_60-40 position_l">
                        <div class="box-xxxl font-size_gtxxxxl_3 bold_light">
                            Courtyard Marriot
                        </div>
                    </div>
                    <!--Stars-->
                    <div class="box_40-60 position_l font-size_gtxxxxl_3">
                        <div class="box-xxxl">
                                <!--star-1-->
                                <div class="box_5 position_l">
                                    <i class="far fa-star font-color_green"></i>
                                </div>
                                <!--star-2-->
                                <div class="box_5 position_l">
                                    <i class="far fa-star font-color_yellow"></i>
                                </div>
                                <!--star-3-->
                                <div class="box_5 position_l">
                                    <i class="far fa-star font-color_blue"></i>
                                </div>
                                <!--star-4-->
                                <div class="box_5 position_l">
                                    <i class="far fa-star font-color_violet"></i>
                                </div>
                                <!--star-5-->
                                <div class="box_5 position_l">
                                    <i class="far fa-star font-color_brightred"></i>
                                </div>
                            </div>
                    </div>
                </div>
                <!--payment-->
                <div class="box-xxxl">
                    <!--bill 1-->
                    <div class="box-xxxl box_padding_xxxl">
                        <!--order-->
                        <div class="box_60-40 position_l">
                            <div class="box-xxxl font-size_ltxxxxl_2 bold_light">
                                Payment
                            </div>
                        </div>
                        <!--price-->
                        <div class="box_40-60 position_l">
                            <div class="box-xxxl font-size_ltxxxxl_2 talign_c bold_light">
                                <input type="text" class="input_blank font-size_ltxxxxl_2 bold_light font-color_gray muli box_padding_r_l_xv" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <!--cashback section-->
                <div class="box-xxxl">
                    <!--bill 1-->
                    <div class="box-xxxl box_padding_xxxl">
                        <!--order-->
                        <div class="box_80-20 position_l">
                            <div class="box-xxxl font-size_ltxxxxl_2 bold_light">
                                Cash Back
                            </div>
                        </div>
                        <!--price-->
                        <div class="box_20-80 position_l">
                            <div class="box-xxxl font-size_ltxxxxl_2 talign_c bold_light">
                                50
                            </div>
                        </div>
                    </div>
                </div>
                <!--total-->
                <div class="box-xxxl border_bottom_gray_sh  border_top_gray_sh">
                    <div class="box-xxxl box_padding_xxxl box_padding_t_b_xxxxl">
                        <!--total-->
                        <div class="box_80-20 position_l">
                            <div class="box-xxxl font-size_ltxxxxl_4 bold_light">
                                Wallet Balance
                            </div>
                        </div>
                        <!--price-->
                        <div class="box_20-80 position_l">
                            <div class="box-xxxl talign_c font-size_ltxxxxl_4 bold_light">
                                350/-
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="box-xxxl talign_c box_margin_t_b_xl">
                <div class="box-xxxl box_padding_r_l_xv">
                    <div class="box-xxxl round-corners_max talign_c font-color_white box_padding_xxxl background-color_green font-size_ltxxxxl_1 bold_light">
                        PAY NOW
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="box-xxxl talign_c box_margin_t_b_xl">
                <div class="box-xxxl box_padding_r_l_xv">
                    <div class="box-xxxl round-corners_max talign_c font-color_white box_padding_xxxl background-color_mdealred font-size_ltxxxxl_1 bold_light">
                        SEND PAYMENT REQUEST 
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="box-xxxl talign_c box_margin_t_b_xl">
                <div class="box-xxxl box_padding_r_l_xv">
                    <div class="box-xxxl round-corners_max talign_c font-color_white box_padding_xxxl background-color_facebook_blue font-size_ltxxxxl_1 bold_light">
                        ADD AMOUNT
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>