<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/css-file.css">
    <link rel="stylesheet" href="../../public/css/menu-css.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    <head>
        <title>
            adobe-xd design
        </title>
        <style>
        .menu-items:hover
        {
            background-color:green;
        }
        .menu-items:hover+.container-1
        {
            display:block;    
        }
        </style>
    </head>
    <body>
        <!--<div class="container bg-color-container">
            <div class="fixed">
                <div class="heading font-styling-heading bg-color-container text-align_c padding-heading">
                    <i class="fas fa-hands-helping"></i> Helping Hands
                 </div>
                <div class="menu bg-color-menu menu-shadow margin-menu padding-menu">
                    <div class="menu-items font-styling-menu-items position-right text-align_c">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="menu-items font-styling-menu-items position-left text-align_c">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
            <div class="hidden">
                <div class="heading font-styling-heading bg-color-container text-align_c padding-heading">
                    <i class="fas fa-hands-helping"></i> Helping Hands
                 </div>
                <div class="menu bg-color-menu menu-shadow margin-menu padding-menu">
                    <div class="menu-items font-styling-menu-items position-right text-align_c">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="menu-items font-styling-menu-items position-left text-align_c">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
            <div class="box-container bg-color-container">
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                    </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                    </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                    </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                    </div>
                <div class="row bg-color-container">
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="SudhirSir.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sudhir Naidu
                    </div>
                    <div class="square-box position-left bg-color-square-box padding-margin-square-box text-align_c box-shadow font-styling-box">
                        <div class="circle">
                            <img src="sanskar.jpg">
                        </div>
                        <div class="small-circle bg-color-circle">
                            1
                        </div>
                        Sanskar Sharma
                    </div>
                </div>
            </div>
        </div>-->
        <div class="container-1">
            <div class="background bg-color-background">
                
            </div>
            <div class="menu-1 bg-color-menu padding-menu">
                <div class="menu-contents bg-color-menu-contents padding-menu-contents text-align-c">
                    profile
                </div>
                <div class="menu-contents bg-color-menu-contents padding-menu-contents text-align-c">
                    home
                </div>
                <div class="menu-contents bg-color-menu-contents padding-menu-contents text-align-c">
                    about
                </div>
                <div class="menu-contents bg-color-menu-contents padding-menu-contents text-align-c">
                    contact
                </div>
                <div class="menu-contents bg-color-menu-contents padding-menu-contents text-align-c">
                    services
                </div>
            </div>
        </div>        
    </body>

</html>