<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="FRAMEWORK-basic.css">
        <link rel="stylesheet" href="FRAMEWORK-styling.css">
        <link rel="stylesheet" href="FRAMEWORK-font-styling.css">
        <link rel="stylesheet" href="businesspage(basic).css">
        <link rel="stylesheet" href="top-menu.css">
        <title>
           my deal 
        </title>
    </head>
    <body>
        <!--box-container-->
        <div class="box-container muli">
            
             <!--top-menu-->
            <div class="box-xxxl talign_c box_padding_xl box_padding_t_b_xxxl font-size_xs bold_light">
                <!--menu-icon-->
                <div class="box_15-70-15 position_l">
                    <div class="menu-icon">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                </div>
                <!--menu-title-->
                <div class="box_15x3-55 position_l">
                    <div class="menu-title">
                        Hotels
                    </div>
                </div>
                <!--menu-icon-->
                <div class="box_15-70-15 position_r">
                    <div class="menu-icon">
                        <i class="fas fa-cog"></i>
                    </div>
                </div>
                <!--menu-icon-->
                <div class="box_15-70-15 position_r">
                    <div class="menu-icon">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <!--info div-->
            <div class="box-xxxl font-size_xxxl bold_light box_padding_t_b_xxl box_padding_r_l_xl border_bottom_gray box_margin_t_b_l">
                <div class="box_70-30 position_l">
                    <div class="box-xxxl font-size_ltxxxl_1 font-color_gray">
                        2 My Deal Hotels available in bilaspur
                    </div>
                </div>
                <div class="box_30-70 position_l">
                    <!--stars div-->
                    <div class="box-xxxl talign_c">
                        <!--star-1-->
                        <i class="fas fa-star font-color_green"></i>
                        <!--star-2-->
                        <i class="fas fa-star font-color_yellow"></i>
                        <!--star-3-->
                        <i class="fas fa-star font-color_blue"></i>
                        <!--star-4-->
                        <i class="fas fa-star font-color_violet"></i>
                        <!--star-5-->
                        <i class="fas fa-star font-color_brightred"></i>
                    </div>
                </div>
            </div>
            <!--particular business div -->
            <div class="box-xxxl box_padding_r_l_l">
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl  box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="intercity.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light box_padding_l">
                            Intercity International
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_yellow">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_facebook_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l  font-color_brown">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_blue">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="eastpark.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            East Park
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="centralpoint.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Central Point
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="grandamba.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Grand Amba
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="downtown.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Downtown
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="courtyardmarriott.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Courtyard Marriott
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="regal.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Regal
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="silveroak.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Silver Oak
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="ananda.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light box_padding_l">
                            Ananda Imperial
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--one business div-->
                <div class="box-xxxl box_margin_t_b_xv1">
                    <!--profile picture-->
                    <div class="box-l position_l">
                        <div class="box-xxxl box_padding_r_l_xv3 box_margin_r_l_xv">
                            <img class="circle" src="rasoi.jpg" height="100%" width="100%">
                        </div>
                    </div>
                    <!--details div-->
                    <div class="box_60-40 position_l">
                        <!--name-->
                        <div class="box-xxxl font-size_xxxl bold_light   box_padding_l">
                            Rasoi
                        </div>
                        <!--type-->
                        <div class="box-xxxl font-size_xxxl font-color_gray box_padding_l">
                            Hotel
                        </div>
                        <!--coupons-->
                        <div class="box-xxxl talign_c font-size_xxl box_padding_l">
                            <!--regular-coupan-->
                            <div class="box_10-90 position_l font-color_brown">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <!--special-coupan-->
                            <div class="box_10-90 position_l font-color_violet">
                                <i class="fas fa-crown"></i>
                            </div>
                            <!--weekend-coupan-->
                            <div class="box_10-90 position_l font-color_blue">
                                <i class="fas fa-gifts"></i>
                            </div>
                            <!--occupacional-coupan-->
                            <div class="box_10-90 position_l font-color_google_red">
                                <i class="fas fa-glass-martini-alt"></i>
                            </div>
                        </div>
                    </div>
                    <!--rating and comment div-->
                    <div class="box_15-70-15 position_l  font-size_xxxxl">
                        <div class="box-xxxl talign_c box_padding_t_b_xv2 font-color_orange">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="box-xxxl talign_c box_padding_t_b_xv2">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>