.comments
{
    height:auto;
    width:auto;
    display:none;
}
.comment
{
    height:auto;
    width:auto;
    display:none;
}
.replies
{
    height:auto;
    width:auto;
    display:none;
}
.reply
{
    height:auto;
    width:auto;
    display:none;
}