body
{
    padding:0;
    margin:0;
}
.table
{
    display:table;
    width:100%;
}
.row
{
    display:table-row;
}
.cell
{
    display:table-cell;
    border:2px solid black;
}
/*float:left must be eliminated from js*/